<!DOCTYPE html>
<html>
<head>
    <title>Chart Demo</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Chart Demo</h1>
    <div id="chart"></div>

    <script>
        // Get the chart data from the Flask backend
        var chartData = JSON.parse('{{ chart_data | safe}}');

        console.log("Chart data: ", chartData);

        // Create the chart using D3.js based on the chartData
        var svgWidth = 800;
        var svgHeight = 800;
        var margin = { top: 20, right: 20, bottom: 30, left: 40 };
        //var chartWidth = svgWidth - margin.left - margin.right;
        //var chartHeight = svgHeight - margin.top - margin.bottom;
        var chartWidth = 1000
        var chartHeight = 400
        var svg = d3.select("#chart")
            .append("svg")
            .attr("width", svgWidth)
            .attr("height", svgHeight);

        var xScale = d3.scaleLinear()
            .domain(d3.extent(chartData, function(d) { return d.time; }))
            .range([margin.left, chartWidth]);

        var yScale = d3.scaleLinear()
            .domain([0, d3.max(chartData, function(d) { return d.latitude; })])  // Adjusted the domain to consider integer values
            .range([chartHeight, margin.top]);

        svg.selectAll("rect")
            .data(chartData)
            .enter()
            .append("rect")
            .attr("x", function(d) { return xScale(d.time); })
            .attr("y", function(d) { return yScale(d.latitude); })
            .attr("width", 10)  // Adjust the width of the bars as per your preference
            .attr("height", function(d) { return chartHeight - yScale(d.latitude); })
            .attr("fill", "steelblue");

        svg.append("g")
            .attr("transform", "translate(0," + chartHeight + ")")
            .call(d3.axisBottom(xScale))
            .append("text")
            .attr("class", "axis-label")
            .attr("x", chartWidth)
            .attr("y", -10)
            .style("text-anchor", "end")
            .text("Time");

        svg.append("g")
            .attr("transform", "translate(" + margin.left + ", 0)")
            .call(d3.axisLeft(yScale))
            .append("text")
            .attr("class", "axis-label")
            .attr("transform", "rotate(-90)")
            .attr("x", -margin.top)
            .attr("y", 10)
            .style("text-anchor", "end")
            .text("Latitude");

    </script>
</body>
</html>
